*~
/Build/
/ChangeLog
/Debug/
/INSTALL
/Makefile
/Makefile.in
/NEWS
/README
/TestImages
/VERSION
/acinclude.m4
/aclocal.m4
/amcompat.m4
/ar-lib
/autom4te.cache
/autoscan.log
/cache
/compile
/conf/config.h
/conf/config.h.in
/conf/nim-imports.stamp
/conf/nim.cfg
/conf/nimbledata.json
/conf/packages_*.json
/conf/pkgs/
/conf/stamp-h1
/config.*
/configure
/configure-stamp-*
/cscope.files
/cscope.log
/depcomp
/doc/*.html
/install-sh
/install-stamp-*
/libXpin.ncb
/libXpin.suo
/libtool
/ltmain.sh
/m4lib
/missing
/test-driver
