/.deps
/.libs
/*.exe
/*.html
/*.ndb
/*.obj
/Makefile
/Makefile.in
/cwrap
/cwrapd
/cwrapd-main.o
/cwraps
/cwraps-main.o
/libsession.a
/libsession.la
/libsession.so
/libstub.la
/main.o
/nim.cfg
/nim.sh
/nimcache
/session
/session.dll
/session.lib
/session-dynlib.h
/session-static.h
/stub.lo
/stub.o
